.Box {
  width: 288px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 12px;
  /* background: var(
    --red-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #f55
  ); */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
}

.Start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Start > img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.Start > p {
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 5px;
}

.Last {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Last > h1 {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Last > p {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
  margin-left: 5px;
}

@media (max-width: 1040px) and (min-width: 350px) {
  .Box {
    width: 100%;
    padding: 15px 30px 30px;
  }
}
