.Card1 {
  width: 368px;
  height: 512px;
  flex-shrink: 0;
  border-radius: 32px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
}

@media (max-width: 1040px) and (min-width: 350px) {
  .Card1 {
    width: 100%;
    height: 476px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(
      --Gradient-1,
      linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
  }
}
