button {
  width: 288px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 128px;
  background: var(--Dark-Navy, #303b59);
  color: var(--White, #fff);
  text-align: right;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  border: none;
}

button:hover {
  border-radius: 128px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );
  border: none;
}

@media (max-width: 1040px) and (min-width: 350px) {
  button {
    width: 315px;
    height: 56px;
    flex-shrink: 0;
  }
}
